*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1a191f;
    font-family: "Open Sans", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 60px;
}
.header-logo{
    font-size: 32px;
    text-decoration: none;
    color: white;
}
.header__search{
    padding: 8px;
    border: 2px solid #1a191f;
    border-radius: 5px;
    outline: none;
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie{
    width: 240px;
    margin: 10px;
    position: relative;
}
.movie__cover-inner{
    position: relative;
    height: 360px;
}
.movie__cover{
    max-width: 100%;
    height: 100%;
}
.movie__cover-darkened{
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
    transition: .6s;
}
.movie__cover-darkened:hover{
    background-color: grey;
    cursor: pointer;
    transition: .6s;
}
.movie-info{
    padding: 10px;
}
.movie-title{
    font-size: 16px;
    color: white;
}
.movie-category{
    font-size: 14px;
    color: #ffd80e;
}
.movie-average{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: white;
    font-size: 14px;
}
.movie-average--green{
    border: 1px solid green;
}
.movie-average--orange{
    border: 1px solid orange;
}
.movie-average--red{
    border: 1px solid red;
}

